<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator Page </title>
    <style type="text/css">
        body {
            background-color: #DADADA;
        }

        body>.grid {
            height: 100%;
        }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }

        #back {
            background-color: #DADADA;
            ;
        }
    </style>

</head>

<body>

    <div id="back" class="ui    center aligned grid">

        <div class="column">
            <div class="ui middle violet image header">
                <div class="content large">
                    <h1>Admin Panel</h1>
                </div>
                <div class="ui message">

                    <button class="ui  big  fluid button">
                        <i class="ui left clipboard outline
                        icon"></i>
                        <a href="/admin/newUserList"> New Users List </a>
                    </button>

                </div>

                <div class="ui message">

                    <button class="ui big fluid button">
                        <i class="ui left stopwatch icon"></i>

                        <a href="/admin/unverifiedUsers"> Unverified Users </a>
                    </button>

                </div>
                <div class="ui message">

                    <button class="ui big fluid button">
                        <i class="ui left hourglass outline
                        icon"></i>
                        <a href="/admin/loginProcessTime"> Login Process Time </a>
                    </button>

                </div>
                <div class="ui message">
                    <button class="ui  big fluid button">
                        <i class=" ui left undo icon"></i>
                        <a href="/">Turn Back</a>
                    </button>

                </div>
            </div>




        </div>




</body>

</html>