<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">


    <title>Change Your Password</title>

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

    <style type="text/css">
        body {
            background-color: #DADADA;
        }

        body>.grid {
            height: 100%;
        }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }
    </style>

</head>

<body>




    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui violet image header">
                <div class="content">
                    Change Your Password
                </div>
            </h2>
            <form id="form" class="ui large form">
                <div class="ui stacked segment">

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input id="password" type="password" name="password" placeholder="Password" value="">

                        </div>
                    </div>

                    <button type="submit" class="ui fluid large violet submit button">Change Password</button>

                </div>



            </form>
            <%- include("./messages/message.change-password.ejs"); %>

        </div>

    </div>
    <script>


        async function postToken(event) {

            event.preventDefault();
            const password = document.getElementById('password').value
            const token = localStorage.getItem('token')

            const result = await fetch('/authUser/change-password', {
                method: 'POST',
                mode: 'cors',

                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },

                body: JSON.stringify({

                    newPassword: password,
                    token: token
                }),


            }).then((res) => (res.json())).then



        }






        const form = document.getElementById('form')
        form.addEventListener('submit', postToken)


    </script>

</body>


</html>