<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />

    <title>Change Your Password</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />

    <style type="text/css">
      body {
        background-color: #dadada;
      }

      body > .grid {
        height: 100%;
      }

      .image {
        margin-top: -100px;
      }

      .column {
        max-width: 450px;
      }
    </style>
  </head>

  <body>
    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <h2 class="ui violet image header">
          <div class="content">Please enter the given time</div>
        </h2>
      </div>
    </div>
  </body>
</html>
