<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User not Found</title>
</head>

<body>

    <div class="ui center aligned ">

        <div class=" ui centered card ">


            <div class="ui   negative message">

                <div class="ui centered header">
                    The given email is invalid:

                </div>
                <div class="ui medium message">
                    <%= email %>
                </div>

                <div class="ui  fluid large  submit button"><a href="/authUser/login">Try Again</a>
                </div>

            </div>

        </div>

    </div>

</body>

</html>