<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>


<body>
    <h1 class="ui centered header">Welcome</h1>
    <div class="ui centered card">

        <div class="content">
            <a class="header">
                <%= name %>
                    <%= surname %>
            </a>
            <div class="meta">
                <span class="date">
                    <%= email %>
                        <%= token %>
                </span>
            </div>

        </div>
        <div class="ui fluid large submit button"><a href="/authUser/change-password">Forgot My Password</a>
        </div>
    </div>
</body>

</html>