<% if(locals.isSend===true){ %>
    <div class="ui green message">
        <p>
            <%= locals.message %>
        </p>
    </div>
    <div class="ui message">

        <button class="ui  fluid button">
            <i class="ui left key icon"></i>
            <a href="/authUser/login">Login</a>
        </button>

    </div>
    <% } else if ( locals.isSend===false ) {%>

        <div class="ui red message">
            <p>
                <%= locals.message %>
            </p>
        </div>
        <div class="ui message">

            <button class="ui  fluid button">
                <i class="ui left sync icon"></i>
                <a href="/authUser/lost-password">Try Again</a>
            </button>
        </div>
        <% }%>